<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  
</head>
<body>
  <nav class="grey darken-3 ">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" class="grey-text text-lighten-2">Inicio</a></li>
        <li><a href="#" class="grey-text text-lighten-2">Publicar</a></li>
        <li><a href="#" class="grey-text text-lighten-2">Populares</a></li>
        <li><a href="#" class="grey-text text-lighten-2">Contacto</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>